* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes apear {
    from{top:10%; opacity:0;};
    to{top: 20%; opacity: 1;};
    
}

body {
    text-align: center;
    height: 100vh;
    background-color: #268fbe;
    color: #fff;
}
#container{
    width: 500px;
    height: 100vh;
    position: relative;
    background-color: #2da76c;
    margin: auto;
    top: 0;
    padding: 10px;
    box-shadow: 5px 0 20px 5px #111111;
    box-shadow: -0px 0 20px 5px #111111;
}

#container h1{
    position: relative;
    margin: 0px 0px 10px 0px;
}

#namePlayer {
    position: absolute;
    background-color: #268fbe;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 10px;
    border: dashed 2px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #111111dc;
    animation: apear .5s ease-in-out  forwards;
}


#namePlayer  h2{
    margin: 20px 0 15px 0;
}
#namePlayer input{
    padding: 5px;
    border: none;
    width: 70%;
    height: 30px;
    box-shadow: 5px 5px 10px #111111dc;
    border-radius: 5px;
}
#namePlayer button{
    padding: 5px;
    margin-top: 40px;
    border: none;
    width: 30%;
    border-radius: 5px;
    background-color: #a9f04d;
    border: solid 2px #fff;
    box-shadow: 5px 5px 10px #111111dc;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}
#namePlayer button:hover{
   background-color: #3ddb8f;
}

#aviso{
    position: absolute;
    background-color: #268fbe;
    z-index: 1;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 10px;
    border: dashed 2px #fff;
    box-shadow: 5px 5px 10px #111111dc;
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    display: none;
    animation: apear .5s ease-in-out  forwards;
}



#win{
    background:#3ddb8f;
    width: 40%;
    position: absolute;
    padding: 10px;
    z-index: 1;
    left: 50%;
    top:20%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: solid 2px #fff;
    box-shadow: 5px 5px 10px #111111bd;
    font-size: 20px;
    font-weight: bold;
    transition: all 1s ease-in-out;
    animation: apear .5s ease-in-out  forwards;
    display: none;

}

.square {
    width: 100px;
    height: 100px;
    background-color: #551bb3;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    top: 20%;
    cursor: pointer;
}
.square:hover{
    box-shadow: 5px 5px 10px #111111;
    background-color: #411588;
    border: solid 1px #fff;
}

.x,
.o {
    position: absolute;
    font-size: 45px;
    right: 0px;
    left: 0px;
    line-height: 100px;
}

.x::after {
    content: "\1F6E1";
}

.o::after {
    content: "\2694";
}

#buttons{
    position: absolute;
    width: 310px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#buttons button{
    border: none;
    height: 35px;
    border-radius: 10px;
    background-color: #a9f04d;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: solid 2px #fff;
}
#buttons button:hover{
    box-shadow: 5px 5px 10px #1111119d;
    background-color: #411588;
}

#placar{
    width: 310px;
    height: 100px;
    background-color: #551bb3;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    padding: 5px;
    border-radius: 10px;
    border: solid 2px #fff;
    box-shadow: 5px 5px 10px #111111bd;
}

.jogador h2{
    margin-bottom: 15px;
}

.jogador p{
    font-size: 30px;
}
